{% extends 'logs/base.html' %}

{% block content %}

<div class="card border-danger">

    <div class="card-body">

        <h1 class="text-danger">
            削除確認
        </h1>

        <p class="mt-3">
            「{{ log.title }}」を削除しますか？
        </p>

        <form method="POST">

            {% csrf_token %}

            <button
                type="submit"
                class="btn btn-danger"
            >
                削除
            </button>

        </form>

    </div>

</div>

{% endblock %}